<% provide(:title, 'About')%>
<h1>About</h1>

<div class="show-nav">
	<p class="all-jobs"><%= link_to "<< Back to Home page", root_path %></p>
</div>

<div class="row-fluid">
	<p>This is the a School Scheduler app.</p>
</div>