
<% if !signed_in? %>
<div class="center hero-unit">
	<h1>Welcome to the School Scheduler App</h1>
	<h2>This is the homepage for the application.	
	</h2>

	<%=	link_to "Sign in now!", signin_path, class: "btn btn-large btn-primary"%>
</div>
<% end %>