<% provide(:title, 'Class ' + @class.name) %>

<div>
	Class: <%= @class.name %>
</div>

<div>
	<%= link_to "Update class record", edit_lecture_session_path %>
	<%= link_to "Delete class record", @lecture_session, method: :delete, confirm: "Are you sure you want to delete?" %>
</div>

<%= link_to "<< Back to index", schedules_path %>